main {
    h1 {
        text-align: center;
        color: white;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    #contentGrid {
        .postsGrid {
            margin: 2rem auto;
            height: 29rem;
            border: 3px solid white;
            border-radius: 1rem;
            text-align: center;
            width: 20rem;
            padding: 2rem 1rem 1rem;
            transform: background white;

            &:last-child {
                margin-bottom: 5rem;
            }

            &:hover {
                transform: scale(1.1);
                transition: 1s;
                background: rgb(122, 121, 121);
                border: 3px solid #1e133d;
            }

            img {
                width: 12rem;
            }

            h2 {
                color: rgb(220, 220, 220);
                font-weight: normal;
            }

            p {
                font-size: 10pt;
                margin-top: 1rem;
            }
        }
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;

    iframe {
        width: 100%;
        height: 500px;
    }

    .modal {
        width: 35rem;
        height: 40rem;
        background: white;
        border: 2rem solid rgb(206, 206, 206);
        border-style: outset;
        margin: auto;
        margin-top: 5rem;
        border-radius: 1rem;

        .buttonsModal {
            text-align: end;
            padding-top: 0.5rem;
            margin-right: 1rem;
            cursor: pointer;
        }
    }

    .maximize {
        width: 100vw;
        height: 95vh;
        margin: auto;
    }
}

.active {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 900px) {
    #contentGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .postsGrid {
            height: 100%;
        }


    }
}
